# ignore non-tracked plugins
# https://stackoverflow.com/questions/1248570/how-do-i-tell-git-to-ignore-everything-except-a-subdirectory
*

!*.gitignore
!*.gitmodule

!/docker/
!/docker/wordpress-nginx/
!/docker/wordpress-cli-phpunit-docker/
!docker-compose.yml
!.env
!README.md

!/bridy-publish/
!/indieweb-post-kinds/
!/simple-location/
!/syndication-links/
!/wordpress-indieauth/
!/wordpress-indieweb/
!/wordpress-indieweb-press-this/
!/wordpress-micropub/
!/wordpress-semantic-linkbacks/
!/wordpress-webmention/


