# ignore non-tracked plugins
# https://stackoverflow.com/questions/1248570/how-do-i-tell-git-to-ignore-everything-except-a-subdirectory

*
!/bridy-publish
!/indieauth
!/indieweb
!/indieweb-post-kinds
!/indieweb-press-this
!/micropub
!/semantic-linkbacks
!/simple-location
!/syndication-links
!/webmention
!*.gitignore
!*.gitmodule